@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: #f4c2c2;
  object-position: center center;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}

#title{
  transition: all 2s;
}

#outputText{
  font-size: 20px
}

#resultImage{
  width: 500px;
  height: 500px;
  object-fit: contain;
  object-position: center center;
}
